

section.new-tweet {
  padding:0 2em;
  padding-top: 4px;
  padding-bottom:4px;
  border-radius: 5px;
  background-color: #F3F3F3;
}

section.new-tweet h2 {
  border-bottom: 2px solid black;
}

section.new-tweet textarea {
  width: 100%;
  padding: 0.25em;
  padding-top: 4px;
}

span.counter {
  float: right;

}

span.error {
  padding-left: 50px;
  color: red;
  font-weight: bold;
/*  margin: 10px 0px;
  padding:12px;*/

}


