article.tweets { /* */
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #F3F3F3;
   content: "";
  clear: both;
  display: table;
}

article.tweets:hover {
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #000000;
  content: "";
  clear: both;
  display: table;
  opacity: 1;
  header{ background-color: red; }
}

article.tweets header {
  opacity: 0.75;
  width: 100%;
  background-color: #F3F3F3;
  padding: 10px;
  border-radius-top: 5px;
     content: "";
  clear: both;
  display: table;
}

article.tweets:hover header {
  opacity: 1;
  width: 100%;
  background-color: #F3F3F3;
  padding: 10px;
  border-radius-top: 5px;
     content: "";
  clear: both;
  display: table;
}

article.tweets img.user {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  float: left;
}

article.tweets section.body {
  height: 100px;
  line-height: 4;
  padding: 10px;
}

article.tweets span.name {
  font-size: 2em;
  font-weight: bold;
  float: left;
  padding-left: 6px;

}

article.tweets span.handle {
  float: right;
  line-height: 2.5;
}

article.tweets footer {
  padding: 10px;
  font-size: 0.75em;
  border-top: 1px solid #F3F3F3;
}

article.tweets span.icons {
  font-size: 1.5em;
  float: right;
  line-height: 0.9em;
  opacity: 0;
}

article.tweets:hover span.icons {
  font-size: 1.5em;
  float: right;
  line-height: 0.9em;
  opacity: 1;
}